html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

ul,li { 
  list-style-type: none;
  list-style-position:inside;
  margin-top:1%;
  padding:0; 
}

li > a{
  font-size: large;
  font-weight: bold;
}

li > p{
  font-size: medium;
  font-weight: normal;
  margin-top:0;
  margin-bottom:0;
}

li > div{
  position: absolute;
  width:48px;
  height:48px;
  margin-left: 70%;
}

#views-search{
 position: inline;
}

#search-input {
  width: 20%;
}

#favorite {
  width:5%;
  margin-left: 70%;
}

#view-fav {
  margin:0;
  padding:0; 
  width:100%;
  height:100%;
  display: none;
  z-index:10;
}

.favorite {
  background-image: url('./img/favorite.png');
}

.unfavorite {
  background-image: url('./img/unfavorite.png');
}